body {
    background-color: #ffffcc;
    background-image: url(Ímages/background.gif);
    color: #330000;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #ffffcc;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 700px;
    box-shadow: 5px 5px 5px #828282;
}

header {
    text-align: center;
    background-color: #ccaa66;
    margin: 0;
    color: #000000;
}

header {
    background-color: #ccaa66;
    color: #000000;
    text-align: center;
    margin: 0;
}


nav {
    text-align: center;
    float: left;
    width: 100px;
    padding-top: 10px;
}

    nav a {
        text-decoration-line: none;
        text-align: center;
        padding-bottom: 15px;
    }

        nav a:link {
            color: #996633;
        }

        nav a:visited {
            color: #ccaa66;
        }

        nav a:hover {
            color: #330000;
        }

    nav ul {
        list-style-type: none;
    }

main {
    padding: 10px 20px 30px;
    margin-left: 150px;
    background-color: #f2eab7;
    color: #000000;
}

header, nav, figure, footer {
    display: block;
}










footer {
    background-color: #ccaa66;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    clear: both;
}

    footer a:link {
        color: #f2eab7;
    }

    footer a:visited {
        color: #ccaa66;
    }

    footer a:hover {
        color: #330000;
    }
